/* general setting */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}
/* DESKOTP FIRST */
/* header */

.logo{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.logo img{
  height: 50px;
  width: 190px;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 input{
  padding: 10px 20px;
  border-radius: 10px;
  outline: 0;

  width: 280px;
  transition: border .4s;
  border-bottom: 1px solid #8080806b;
  border-right: 1px solid #8080806b;
  border-left: 1px solid #0000008c;
  border-top:  1px solid #0000008c;
}

#app input:focus,
#app input:hover{
  box-shadow: 0.5px 0.5px 2px 0.5px #888888;
}

  button{
  margin-left: 30px;
  min-width: 100px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 2px 0.5px #888888;
  border: none;
  transition: background-color .4s;
}

#app button:hover{
  background-color: #80808045;
}

.list-todo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #c0d6dd33;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin: 20px auto;
  width: 70%;
  list-style: none;
  padding-right: 20px;

}

.list-todo li{
  border-bottom: 1px solid  #80808063;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  justify-content: space-between;
  display: flex;
}

.list-todo li i{
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .4s
}

.list-todo li i:hover{
  opacity: 1;
}



/* MEDIA */



@media only screen and (max-width: 420px){
  /* layout header */

  .flex-direction-column-sm{
    flex-direction: column;
    align-items: center;
  }

  .style-bottom-sm{
    flex-basis: 50px;
    margin-left: 0;
    width: 50%;
    margin-top: 20px;
  }
}
